fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
pydantic-settings
pydantic[email]
python-dotenv
passlib[bcrypt]==1.7.4
bcrypt==4.0.1
python-jose[cryptography]
python-multipart
sib-api-v3-sdk
pyotp
qrcode[pil]
alembic
slowapi
limits
bandit
semgrep
requests
pytest==7.4.3
pytest-cov==4.1.0
httpx==0.25.0
python-socketio
python-engineio
aioredis
redis

APScheduler==3.10.4
