fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
pydantic-settings
pydantic[email]
python-dotenv
passlib[bcrypt]==1.7.4
bcrypt==4.0.1
python-jose[cryptography]
python-multipart
sib-api-v3-sdk
pyotp
qrcode[pil]
alembic
slowapi
limits
bandit
semgrep
requests
pytest==9.0.3
h11==0.16.0
httpx==0.28.1
httpcore==1.0.9
python-socketio
python-engineio
aioredis
redis
celery[redis]

APScheduler==3.10.4
